<h1> Pontuação</h1>
<div class="row" ">
    <div class="col-md-6">
        <div class="row">
            <ul class="list-group">
                <li class="list-group-item active" aria-current="true">Cursos de Dispositivos</li>
                <li class="list-group-item">
                    Curso 1 <span class="float-end">10 pontos</span>
                </li>
                <li class="list-group-item">
                    Curso 2 <span class="float-end">8 pontos</span>
                </li>
                <li class="list-group-item">
                    Curso 3 <span class="float-end">15 pontos</span>
                </li>
                <li class="list-group-item">
                    Curso 4 <span class="float-end">12 pontos</span>
                </li>
            </ul>

        </div>
    </div>  
    <div class="col-md-6">
        <div class="row">
            <ul class="list-group">
                <li class="list-group-item active" aria-current="true">Cursos de Internet</li>
                <li class="list-group-item">
                    Curso 1 <span class="float-end">9 pontos</span>
                </li>
                <li class="list-group-item">
                    Curso 2 <span class="float-end">18 pontos</span>
                </li>
                <li class="list-group-item">
                    Curso 3 <span class="float-end">15 pontos</span>
                </li>
                <li class="list-group-item">
                    Curso 4 <span class="float-end">10 pontos</span>
                </li>
            </ul>

        </div>

    </div>
</div>



