@{
    ViewData["Title"] ="";
}
<h1>@ViewData["Title"]</h1>

<h3 style="color:#7962AE">Cursos de dispositovos</h3>

<div>
    <div class="row">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/Smartphone.png" class="card-img-top custom-img" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Uso básico de um Smartphone</h5>
                        <p class="card-text">Aprenda a usar as funcionalidades de um smartphone</p>
                        <a asp-controller="Curso" asp-action="CursoSmartphone" class="btn btn-primary">Abrir</a>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/Tablet.png" class="card-img-top custom-img" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Uso básico de um tablet</h5>
                        <p class="card-text">Aprenda a usar as funcionalidades básicas de um tablet </p>
                        <a asp-controller="Curso" asp-action="CursoTablet" class="btn btn-primary">Abrir</a>
                    </div>
                </div>
            </div>            
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/Computadores.png" class="card-img-top custom-img" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Uso básico de um computador </h5>
                        <p class="card-text">Aprenda a usar as funcionalidades básicas de um Computador </p>
                        <a asp-controller="Curso" asp-action="CursoComputador" class="btn btn-primary">Abrir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p class="text-center" style="color:#72AB22; font-weight: bold;"> Mais cursos...</p>

<h3 style="color:#7962AE">Cursos sobre internet</h3>

<div>
    <div class="row">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/ComprasOnline.png" class="card-img-top custom-img" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Compras Online</h5>
                        <p class="card-text">Aprenda a realizar compras online de forma segura</p>
                        <a asp-controller="Curso" asp-action="CursoComprasOnline" class="btn btn-primary">Abrir</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/InternetBanking.png" class="card-img-top custom-img" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Uso de intenert banking</h5>
                        <p class="card-text">Aprenda mais sobre o que é o internet banking</p>
                        <a asp-controller="Curso" asp-action="CursoInternetBaking" class="btn btn-primary">Abrir</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/ServicoSaude.png" class="card-img-top custom-img" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Serviços de sáudes online</h5>
                        <p class="card-text">Entenda como será feita a consulta online</p>
                        <a asp-controller="Curso" asp-action="ServicoSaude" class="btn btn-primary">Abrir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p class="text-center" style="color:#72AB22; font-weight: bold;"> Mais cursos...</p>


<style>
    .custom-img {
        width: 100%;
        height: 200px; /* Define uma altura padrão */
    }

</style>
